@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';
.footer {
  @include flex-row(space-between);
  height: 100%;
  background-color: $-color-dark-transparent;
  color: $-color-light;
  padding: .5rem 2rem;
}
